.login-modal {
    background-color: rgba(61, 58, 58, 0.7);
  }
  
  .login-modal-body {
    background-color: rgb(60, 61, 65);
    max-height: 32vh;
    border-radius: 2% 16.5%;
  }
  
  .login-modal .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }