.proposal-modal {
  //background-color: rgba(61, 58, 58, .7);
}

.proposal-modal-body {
  //background-color: rgb(60, 61, 65);
  max-height: 80vh;
  border-radius: 10px;
}

.proposal-modal .modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

