.header-css {
  background-color: #1C1C1C;
  color: white;
  height: 8vh;
}

.header-css.scrolled {
  background-color: #FF8900;
}

.app-container-css {
  background-color: rgb(61, 58, 58);
}


/* #AppWrapper{
  position: absolute;
  inset: 0;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: 8% 92%;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* #HeaderContainer{
  grid-row: 1 / 2;
  background-color: #1C1C1C;
} */

/* #HeaderContainer{
  background-color: red;
  color: black;
}

#BodyContainer{
  grid-row: 2 / 3;
  background-color: #0E0E0E;
  color: #EFEFEF;
  overflow-y: auto;
} */

/* #HeaderWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.NavButton{
  background-color: #0D1B2A;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: #EFEFEF;
}
.NavButton:hover {
  opacity: .8;
}
.buttonContainer .NavButton {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
  font-size: 3vh;
}
.buttonContainer .NavButton:hover {
  background-color: #808080;
} */

/* .App-link {
  color: #61dafb;
} */